<!doctype html>
  <html ng-app="caribbeanflowershopApp">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind="$state.current.title">Flower delivery in the Caribbean</title>
    <meta id="meta-name" name="description" content="{{$state.current.metaContent}}">
    <meta property="og:url"           content="http://www.caribbeanflowershop.com" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="Flower delivery in the Caribbean" />
    <meta property="og:description"   content="We deliver using local flower shops."/>
    <meta property="og:image"         content="http://www.fineblend.com/caribbeanflowershop/images/girl_sniff_short.jpg" />
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
      <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.css" />
      <link rel="stylesheet" href="bower_components/angular-socialshare-djds4rce/angular-socialshare.css" />
      <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
      <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83740200-1');
      ga('send', 'pageview');
    </script>

  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <navbar></navbar>
    <div ui-view></div>



    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/tether/tether.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/lodash/lodash.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-translate/angular-translate.js"></script>
      <script src="bower_components/javascript-detect-element-resize/detect-element-resize.js"></script>
      <script src="bower_components/angular-gridster/src/angular-gridster.js"></script>
      <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
      <script src="bower_components/chart.js/dist/Chart.js"></script>
      <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
      <script src="bower_components/angular-socialshare-djds4rce/angular-socialshare.js"></script>
      <script src="bower_components/angular-socialshare/dist/angular-socialshare.min.js"></script>
      <script src="bower_components/angular-payments/lib/angular-payments.js"></script>
      <script src="bower_components/angular-credit-cards/release/angular-credit-cards.js"></script>
      <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/angular-moment/angular-moment.js"></script>
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js(.tmp) app/app.js -->
      <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/admin/admin.module.js"></script>
      <script src="components/auth/auth.module.js"></script>
      <script src="components/util/util.module.js"></script>
      <script src="app/main/main.js"></script>
      <script src="app/account/facebook/facebook.js"></script>
      <script src="app/account/login/login.controller.js"></script>
      <script src="app/account/merchant/merchant.controller.js"></script>
      <script src="app/account/merchant/merchant.js"></script>
      <script src="app/account/settings/settings.controller.js"></script>
      <script src="app/account/signup/signup.controller.js"></script>
      <script src="app/admin/admin.controller.js"></script>
      <script src="app/about/about.controller.js"></script>
      <script src="app/admin/admin.router.js"></script>
      <script src="app/app.constant.js"></script>
      <script src="app/cart/cart.controller.js"></script>
      <script src="app/cart/cart.js"></script>
      <script src="app/contact/contact.controller.js"></script>
      <script src="app/contact/contact.js"></script>
      <script src="app/country/country.controller.js"></script>
      <script src="app/country/country.js"></script>
      <script src="app/flowerdetails/flowerdetails.controller.js"></script>
      <script src="app/flowerdetails/flowerdetails.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/about/about.js"></script>
      <script src="app/account/account.js"></script>
      <script src="components/auth/auth.service.js"></script>
      <script src="components/auth/interceptor.service.js"></script>
      <script src="components/auth/router.decorator.js"></script>
      <script src="components/auth/user.service.js"></script>
      <script src="components/cart/cart.service.js"></script>
      <script src="components/exploreButton/exploreButton.directive.js"></script>
      <script src="components/flowers/flowers.service.js"></script>
      <script src="components/footer/footer.directive.js"></script>
      <script src="components/headerMain/headerMain.directive.js"></script>
      <script src="components/headerSmall/headerSmall.directive.js"></script>
      <script src="components/kaHeaderMedium/kaHeaderMedium.directive.js"></script>
      <script src="components/modal/modal.service.js"></script>
      <script src="components/mongoose-error/mongoose-error.directive.js"></script>
      <script src="components/navbar/navbar.controller.js"></script>
      <script src="components/navbar/navbar.directive.js"></script>
      <script src="components/oauth-buttons/oauth-buttons.controller.js"></script>
      <script src="components/oauth-buttons/oauth-buttons.directive.js"></script>
      <script src="components/page/page.service.js"></script>
      <script src="components/paginate/paginate.filter.js"></script>
      <script src="app/account/facebook/facebook.controller.js"></script>
      <script src="components/util/util.service.js"></script>
      <!-- endinjector -->
      <!--<script type="text/javascript" src="https://js.stripe.com/v2/"></script>-->
    <!-- endbuild -->

  </body>
</html>
