<div class="col-md-3" xmlns="http://www.w3.org/1999/html">
  <div class="thumbnail">
    <br>
    <img src="https://graph.facebook.com/{{merchant.facebook.id}}/picture?width=150" alt="...">
    <div class="caption">
      <h3 class="text-center">{{merchant.user.name}}</h3>

    </div>

    <br>

  </div>
</div>


<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Profile</h4></div>
    <div class="panel-body">

      <form class="form-horizontal" name="merchantProfile" ng-submit="merchant.setProfile()" novalidate>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" ng-model="merchant.user.email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" ng-model="merchant.user.name" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Payment</label>
          <div class="col-sm-10">
            <div class="radio">
              <label>
                <input type="radio" ng-model="merchant.user.revenue.method" value="paypal">
                Paypal
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="merchant.user.revenue.method" value="bank">
                Bank Transfer
              </label>
            </div>

              <div class="form-group" ng-show="merchant.user.revenue.method === 'paypal'">
                <div class="col-sm-12">
                <label for="email-paypal" class="control-label">Paypal Email</label>
                  <input type="email" class="form-control" id="email-paypal" ng-model="merchant.user.revenue.email" placeholder="Paypal Address">
                  <div class="alert alert-warning" role="alert">
                    For more information about paypal, please see their <a href="http://www.paypal.com">official website</a>.
                  </div>
                </div>
              </div>
            <div ng-show="merchant.user.revenue.method === 'bank'">
              <div class="alert alert-warning" role="alert">
                You have not met the required minimum business volume for bank transfer.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="address" ng-model="merchant.user.address.address1" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="address2" class="col-sm-2 control-label">Address 2</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="address2" ng-model="merchant.user.address.address2" placeholder="Address 2">
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-sm-2 control-label">City</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="city" ng-model="merchant.user.address.city" placeholder="City">
          </div>
        </div>
        <div class="form-group">
          <label for="region" class="col-sm-2 control-label">Location</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="region" ng-model="merchant.user.address.region" placeholder="Parish/County/Constituency">
          </div>
        </div>
        <div class="form-group">
          <label for="location" class="col-sm-2 control-label">Country</label>
          <div class="col-sm-10">
            <div class="btn-group" uib-dropdown>
              <button id="location" type="button" class="btn btn-default" uib-dropdown-toggle>
                <span ng-if="!merchant.user.facebook.location">Choose Country</span>
                <span ng-if="merchant.user.facebook.location">{{merchant.user.facebook.location}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="country in merchant.countries">
                  <a ng-click="merchant.setCountry(country); merchant.showFlowers(country)">{{country}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Arrangements" class="col-sm-2 control-label">Arrangements</label>
          <div class="col-sm-10">
            <div ng-repeat="flower in merchant.flowers track by $index">
            <div class="col-sm-10" id="Arrangements">
              <a ui-sref="flowerdetails({id:flower._id, country: flower.country})" class="thumbnail">
                <img ng-src="{{flower.picSmall}}" alt="flower">
              </a>
                <div class="caption text-center">
                  {{flower.description}}
                  <br>
                  <label for="flower.name">{{flower.name}}</label>
                  <br>
                  {{flower._id}}
                  Select:<input type="checkbox" id="flower.name" ng-model="flower.selected" ng-click="merchant.toggleSelected($index); merchant.onClickCheckFlowerIds($index)">
                </div>
                <br>

            </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Change</button>
          </div>
        </div>
      </form>



    </div>
  </div>
</div>

