<div class="col-md-3">
  <div class="thumbnail">
    <br>
    <img src="https://graph.facebook.com/{{merchant.facebook.id}}/picture?width=150" alt="...">
    <div class="caption">
      <h3 class="text-center">{{merchant.name}}</h3>

    </div>

    <div class="text-center">

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: merchant.role !=='merchant'}">
          <input type="radio" name="options" id="option1" autocomplete="off" checked ng-click="merchant.showRole('facebook'); merchant.setRole('facebook')" >
          Client
        </label>
        <label class="btn btn-primary"  ng-class="{active: merchant.role ==='merchant'}">
          <input type="radio" name="options" id="option2" autocomplete="off" checked ng-click="merchant.showRole('merchant'); merchant.setRole('merchant')">
          Merchant
        </label>
      </div>

    </div>

    <br>

  </div>
</div>


<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Monthly Revenue</h4></div>
    <div class="panel-body">

      <canvas id="bar" class="chart chart-bar"
              chart-data="merchant.data" chart-labels="merchant.labels" chart-series="merchant.series">
      </canvas>

    </div>
  </div>



</div>
