<ka-header-medium heading="merchant.heading" style="merchant.style"></ka-header-medium>
<nav class="text-center">
  <ul class="second-menu">
    <li ui-sref-active="second-menu-active">
      <a ui-sref="merchant.dashboard">Dashboard</a>
    </li>
    <li ui-sref-active="second-menu-active">
      <a ui-sref="merchant.profile">Profile</a>
    </li>
    <li ui-sref-active="second-menu-active">
      <a ui-sref="merchant.revenue">Revenue</a>
    </li>
    <li ui-sref-active="second-menu-active">
      <a ui-sref="merchant.orders">Orders</a>
    </li>

  </ul>

</nav>

<div class="container">
  <br>


  <div ui-view></div>




  <div class="row">
    <h4>
      <!--Tell a friend.-->
    </h4>
  </div>

</div>

<footer></footer>


<!--<ka-header-medium heading="merchant.heading" style="merchant.style"></ka-header-medium>-->
<!--<div class="container">-->
  <!--<div class="row col-lg-12">-->
    <!--<h2 class="page-header">-->
      <!--{{merchant.name}}'s Profile-->
    <!--</h2>-->
  <!--</div>-->
  <!--<div class="row col-lg-12">-->
    <!--<div>-->
      <!--<img src = "{{merchant.picture}}">-->
    <!--</div>-->
  <!--</div>-->
  <!--<p>Thank you for your mechant application. We will communicate with you in the upcoming days through facebook to let you know your next steps. Alternatively you may check here for update information.</p>-->

<!--</div>-->
<!--<footer country-links></footer>-->
