<div class="col-md-3">
  <div class="thumbnail">
    <br>
    <img src="https://graph.facebook.com/{{merchant.facebook.id}}/picture?width=150" alt="...">
    <div class="caption">
      <h3 class="text-center">{{merchant.name}}</h3>

    </div>

    <div class="text-center">

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: merchant.role !=='merchant'}">
          <input type="radio" name="options" id="option1" autocomplete="off" checked ng-click="merchant.showRole('facebook'); merchant.setRole('facebook')" >
          Client
        </label>
        <label class="btn btn-primary"  ng-class="{active: merchant.role ==='merchant'}">
          <input type="radio" name="options" id="option2" autocomplete="off" checked ng-click="merchant.showRole('merchant'); merchant.setRole('merchant')">
          Merchant
        </label>
      </div>

    </div>

    <br>

  </div>
</div>


<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Welcome {{merchant.name}}</h4></div>
    <div class="panel-body">
      <p>
        This is your member area. It allows you to see what you can do to improve your experience on the site.
      </p>
      <br>
      <h4 class="blue-text">Convert to Merchant</h4>
      <p>
        If you would like to sell flowers, you may convert to a merchant account by clicking on indicator below your profile picture. You will need to re-login after this change.
      </p>

    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Notifications</h4></div>
    <div class="panel-body">
      <h4 class="blue-text">Promo Code</h4>
      Your promo code is set at NOV10 for ten percent off all flowers listed on this site in November 2016.
    </div>
  </div>


</div>
