<div class="col-md-3">
  <div class="thumbnail">
    <br>
    <img src="https://graph.facebook.com/{{merchant.facebook.id}}/picture?width=150" alt="...">
    <div class="caption">
      <h3 class="text-center">{{merchant.name}}</h3>

    </div>

    <div class="text-center">

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: merchant.role !=='merchant'}">
          <input type="radio" name="options" id="option1" autocomplete="off" checked ng-click="merchant.showRole('facebook'); merchant.setRole('facebook')" >
          Client
        </label>
        <label class="btn btn-primary"  ng-class="{active: merchant.role ==='merchant'}">
          <input type="radio" name="options" id="option2" autocomplete="off" checked ng-click="merchant.showRole('merchant'); merchant.setRole('merchant')">
          Merchant
        </label>
      </div>

    </div>

    <br>

  </div>
</div>


<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Order Items</h4></div>
    <div class="panel-body">
      <div ng-repeat="item in merchant.items  track by $index  ">
        <div class="row">
            <div class="col-md-2 col-xs-12">
              <img class="img-responsive" ng-src="{{item.imageUrl}}">
            </div>
            <div class="col-md-8 col-xs-12">
              <h4><b>Delivery date:</b> {{item.deliveryDate | amDateFormat:'dddd, MMMM Do YYYY' }}</h4>
              <div>
                <b>{{item.itemName}}</b>
              </div>
              <div><b>Recipient:</b> {{item.recipientName}}</div>
              <div><b>Address:</b> {{item.recipientFullAddress}} </div>
              <div><b>Delivery Message:</b> {{item.deliveryMessage}}</div>
              <div><b>Delivery Instructions:</b> {{item.deliveryInstructions}}</div>
              <div><b>Delivery Date: </b>{{item.enteredDeliveryDate}}</div>
              <div><b>Delivered: </b>{{item.delivered}}</div>
              <div><b>Photo: </b>{{item.delivered}}</div>
              <form ng-submit="merchant.sendImage()">
              <div class="form-group" enctype="multipart/form-data">
                <input type="file" class="form-control-file" id="photo" ng-model="item.photo" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Please upload an image before checking delivered</small>
              </div>
                  <button type="submit" class="btn btn-success btn-sm pull-left">
                    Upload
                  </button>

              </form>
            </div>
            <div class="col-md-2 col-xs-12">

              <div class="col-md-6 col-xs-9">
                <div ng-show="!item.delivered" >
                  <button class="btn btn-success btn-sm"
                          uib-tooltip = "Check as delivered"
                          ng-click="merchant.setDelivered($index)">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                  </button>
                </div>
                <div >
                  <button ng-show="item.delivered"
                          class="btn btn-warning btn-sm"
                          uib-tooltip = "Mark not delivered"
                          ng-click="merchant.setNotDelivered($index)">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                  </button>
                </div>

              </div>
              <div class="col-md-6 col-xs-2">
               <div ng-show="item.delivered">
                 <div class="badge badge-success">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                 </div>
               </div>

              </div>
            </div>

        </div>


        <hr>
      </div>


    </div>
  </div>



</div>
