form[novalidate] input, form[novalidate] select, form[novalidate] textarea{
  border-left-width : 8px;
  border-color: #3498db;
  border-style : solid;
}

textarea[required].ng-pristine,select[required].ng-pristine, input[required].ng-pristine {
  border-color : #e74c3c;
}

textarea.ng-invalid.ng-dirty,select.ng-invalid.ng-dirty,input.ng-invalid.ng-dirty{
  border-color: #e74c3c;
}

textarea.ng-valid.ng-dirty, select.ng-valid.ng-dirty, input.ng-valid.ng-dirty{
  border-color: #2ecc71;
}

#order :nth-child(odd){
  background-color:#f5f5f0;
}


.chart{
  width:500px;
  height:1000px;
}
