<div class="col-md-3">
  <div class="thumbnail">
    <br>
    <img src="https://graph.facebook.com/{{merchant.facebook.id}}/picture?width=150" alt="...">
    <div class="caption">
      <h3 class="text-center">{{merchant.name}}</h3>

    </div>

    <div class="text-center">

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: merchant.role !=='merchant'}">
          <input type="radio" name="options" id="option1" autocomplete="off" checked ng-click="merchant.showRole('facebook'); merchant.setRole('facebook')" >
          Client
        </label>
        <label class="btn btn-primary"  ng-class="{active: merchant.role ==='merchant'}">
          <input type="radio" name="options" id="option2" autocomplete="off" checked ng-click="merchant.showRole('merchant'); merchant.setRole('merchant')">
          Merchant
        </label>
      </div>

    </div>

    <br>

  </div>
</div>


<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Share</h4></div>
    <div class="panel-body">
      <p>
        <a
           facebook-feed-share
           data-url="http://www.caribbeanflowershop.com"
           data-shares="shares"
           data-caption="Flower delivery in the Caribbean"
           data-picture="http://www.fineblend.com/caribbeanflowershop/images/girl_sniff_short.jpg"
           data-description="We deliver using local flower shops. Avoid surprises and additional fees. Have flowers delivered in the Caribbean no matter where you are located."
           data-callback="callback">

        </a>

      </p>
      <p>


      <p>
        <a href="#"
           class="btn btn-social btn-twitter btn-block"
           socialshare
           socialshare-provider="twitter"
           socialshare-hashtags="flower, delivery, caribbean"
           socialshare-url="http://www.caribbeanflowershop.com">
          <i class="fa fa-twitter"></i>
          Share on twitter
        </a>
      </p>
      <p>
        <a href="#"
           class="btn btn-social btn-google btn-block"
           socialshare
           socialshare-provider="google"
           socialshare-text="Caribbeanflowershop.com delivers using local flower shops. Delivered in the Caribbean no matter where you are located."
           socialshare-hashtags="flower, delivery, caribbean"
           socialshare-url="http://www.caribbeanflowershop.com">
          <i class="fa fa-google"></i>
          Share on google plus
        </a>
      </p>

    </div>
  </div>



</div>
