footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: #e7e7e7;
  color : #555555;
}

.caribbean{
  //color: #9d9d9d;
  background-color: #e7e7e7;
  border-left-color: #00b3ee;
  border-left-width: 3px;
  padding-left: 10px;
  border-radius: 0px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow : none;
}

.footer-separator{
  border-top: 4px solid #fff;
}

.quote{
  color: #888;
}
