<div class="container">

      <div class="row">
        <div class="col-md-9">
        <hr>
        <h4 class="text-left">Country for delivery:</h4>
        <p></p>
          <div class="col-md-4">
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Anguilla'})">
                Anguilla
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Aruba'})">
                Aruba
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Bahama Islands'})">
                Bahama Islands
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Barbados'})">
                Barbados
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Belize'})">
                Belize
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Bermuda'})">
                Bermuda
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Cayman Islands'})">
                Cayman Islands
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Dominica'})">
                Dominica
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Dominican Republic'})">
                Dominican Republic
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'French Guiana'})">
                French Guiana
              </a>
            </div>

          </div>
          <div class="col-md-5">
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Grenada'})">
                Grenada
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Guadeloupe'})">
                Guadeloupe
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Guyana'})">
                Guyana
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Haiti'})">
                Haiti
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Honduras'})">
                Honduras
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Jamaica'})">
                Jamaica
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Saint Kitts and Nevis'})">
                Saint Kitts and Nevis
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Saint Lucia'})">
                Saint Lucia
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a ui-sref="country({country: 'Saint Vincent and the Grenadines'})">
                Saint Vincent and the Grenadines
              </a>
            </div>
            <div class="panel caribbean text-left">
              <a  ui-sref="country({country: 'Trinidad and Tobago'})">
                Trinidad and Tobago
              </a>
            </div>

          </div>
        </div>
        <div class="col-md-3">
          <hr>
          <div class="col-md-10">
            <a href="http://www.facebook.com/Caribbeanflowershop-303440090014087/">
              <img class="pull-left" src="../../assets/images/FB-FindUsonFacebook-online-114.png">
            </a>
            <br>
            <br>
            <div class="fb-messengermessageus pull-left"
                 messenger_app_id="1771615673095499"
                 page_id="303440090014087"
                 data-ref="PASS_THROUGH_PARAM"
                 color="blue"
                 size="xlarge">
            </div>
          </div>


        </div>

        <div class="col-md-3">
            <hr>
          <p class="col-md-10">
            <a
              facebook-feed-share
              data-url="http://www.caribbeanflowershop.com"
              data-shares="shares"
              data-caption="Flower delivery in the Caribbean"
              data-picture="http://www.fineblend.com/caribbeanflowershop/images/girl_sniff_short.jpg"
              data-description="We deliver using local flower shops. Avoid surprises and additional fees. Have flowers delivered in the Caribbean no matter where you are located."
              data-callback="callback">

            </a>

          </p>


          <p class="col-md-10">
            <a href="#"
               class="btn btn-social btn-twitter btn-block"
               socialshare
               socialshare-provider="twitter"
               socialshare-text="Caribbeanflowershop.com uses local flower shops for delivery in the Caribbean."
               socialshare-hashtags="flower, delivery, caribbean"
               socialshare-url="http://www.caribbeanflowershop.com">
              <i class="fa fa-twitter"></i>
              Share on twitter
            </a>
          </p>
          <p class="col-md-10">
            <a href="#"
               class="btn btn-social btn-google btn-block"
               socialshare
               socialshare-provider="google"
               socialshare-text="Caribbeanflowershop.com delivers using local flower shops. Delivered in the Caribbean no matter where you are located."
               socialshare-hashtags="flower, delivery, caribbean"
               socialshare-url="http://www.caribbeanflowershop.com">
              <i class="fa fa-google"></i>
              Share on google plus
            </a>
          </p>
          <p class="col-md-10">
            <a href="http://www.stripe.com">
              <image src="../assets/images/cardlogos.png" width="200" ></image>
            </a>
          </p>

            <!--<h4 class="text-left">Testimonials:</h4>-->
            <!--<div class="row">-->
              <!--<h4 class="quote">"Beautiful flowers delivered on time for my Mom's birthday!"</h4>-->
              <!--<div class="quote">Margeret Fields</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<h4 class="quote">"I'm happy to be a able to send a gift from so far away!"</h4>-->
              <!--<div class="quote">Neesha Singh</div>-->
            <!--</div>-->
        </div>

       </div>
      </div>


      <hr/>

      <div class="row">
        <p>
          © Copyright 2016 caribbeanflowershop.com
        </p>
      </div>
</div>
