<header-small heading="country.heading" heading2="country.heading2"></header-small>

<div class="container">

    <div class="row col-lg-12">
      <h2 class="page-header" style="color :#565656;">{{country.chosenCountry}} Flower Delivery:</h2>
    </div>
    <div class="row col-lg-12">
      <ul class="nav nav-stacked col-md-4 col-lg-4 col-sm-6 countries" ng-repeat="flower in country.flowers |orderBy: 'price' | paginate: country.currentPage: country.itemsPerPage">

        <li>
          <a ui-sref="flowerdetails({id:flower._id, country: flower.country})" uib-tooltip="{{flower.description}}">
            <div class="text-center" style="color :#565656;"><h4>{{flower.name}}</h4></div>
            <img class="pic-small" ng-src="{{flower.picSmall}}">
            <div class="text-center">{{flower.price | currency}}</div>
          </a>

          <div class="row center-buttons">

              <a class="btn btn-default btn-sm pull-left" ui-sref="flowerdetails({id:flower._id, country: flower.country})">View Details</a>
              <a class="btn btn-default btn-sm pull-right" href="#" ng-click="country.addItemToCart(flower)">Add to Cart</a>

          </div>

        </li>
      </ul>
      <ul uib-pagination total-items="country.totalItems" ng-model="country.currentPage" max-size="country.maxSize" class="pagination-md" boundary-links="true" num-pages="country.numPages"></ul>

    </div>
</div>
<footer></footer>
