$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
/* inject:scss */
@import 'about/about.scss';
@import 'account/facebook/facebook.scss';
@import 'account/merchant/merchant.scss';
@import 'admin/admin.scss';
@import 'cart/cart.scss';
@import 'contact/contact.scss';
@import 'country/country.scss';
@import 'flowerdetails/flowerdetails.scss';
@import 'main/main.scss';
@import '../components/exploreButton/exploreButton.scss';
@import '../components/footer/footer.scss';
@import '../components/headerMain/headerMain.scss';
@import '../components/headerSmall/headerSmall.scss';
@import '../components/kaHeaderMedium/kaHeaderMedium.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
/* endinject */
