.second-menu{
  list-style: none;
  background-color: #eee;
}

.second-menu li{
  display: inline-block;
  padding: 10px 25px 10px;
  vertical-align: middle;
}

.second-menu li a{
  color : #888
}

.second-menu li a:active a:focus a:hover{
  text-decoration: none;

}

.second-menu-active{
  text-decoration: underline;
}
