<ka-header-medium heading="fb.heading" style="fb.style"></ka-header-medium>
<nav class="text-center">
    <ul class="second-menu">
      <li ui-sref-active="second-menu-active">
        <a ui-sref="facebook.dashboard">Dashboard</a>
      </li>
      <li ui-sref-active="second-menu-active">
        <a ui-sref="facebook.profile">Profile</a>
      </li>

    </ul>
  </div>

</nav>

<div class="container">
  <br>


  <div ui-view></div>




  <div class="row">
    <h4>
      <!--Tell a friend.-->
    </h4>
  </div>

</div>

<footer country-links></footer>
