<div class="col-md-3">
  <div class="thumbnail">
    <br>
    <img src="https://graph.facebook.com/{{fb.facebook.id}}/picture?width=150" alt="...">
    <div class="caption">
      <h3 class="text-center">{{fb.name}}</h3>

    </div>

    <br>

  </div>
</div>


<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="blue-text">Profile</h4></div>
    <div class="panel-body">

      <form class="form-horizontal" name="fbprofile" ng-submit="fb.setProfile()" novalidate>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" ng-model="fb.user.email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" ng-model="fb.user.name" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Change</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
