<header-small heading="details.heading" heading2="details.heading2"></header-small>


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">{{details.flower.name}}</h1>
    </div>
  </div>
  <div class="col-lg-8">


    <div class="col-lg-6">
      <img ng-src="{{details.flower.picMed}}">

    </div>
    <div class="col-lg-6">
      <div>{{details.flower.description +'. This arrangement is specially priced for Valentine\'s day when purchased using a coupon. Add this arrangement to you cart to see the code.'}}</div>
      <p>
      </p>
      <h4>${{details.flower.price}}</h4>
      <p>
        <a ui-sref="country({country: details.flower.country})">
          See more flowers available in {{details.flower.country}}......
        </a>
      </p>
      <!--<a class="btn btn-default" href="{{details.flower.shareASaleLink}}" country.addItemToCart(flower)>Add to Cart</a>-->
      <a class="btn btn-default" ng-click="details.addItemToCart(details.flower)">Add to Cart</a>
    </div>

  </div>
  <div class="col-lg-3">
    <!--<ka-shopping-cart></ka-shopping-cart>-->
  </div>
</div>
<footer country-links></footer>
