<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img src="assets/images/flower_logo.png" class="navbar-brand" alt="Local Flower Delivery in the Caribbean">
      </a>

      <a href="/" class="navbar-brand ka-navbar-logo">caribbeanflowershop.com</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.getCurrentUser().role === 'user'" ui-sref-active="active">
          <a ui-sref="settings">
            <span class="glyphicon glyphicon-user"></span>{{nav.roleAdmin}}
          </a>
        </li>
        <li ng-show="nav.getCurrentUser().role ==='facebook' " ui-sref-active="active">
          <a ui-sref="facebook.dashboard">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
        <li ng-show="nav.getCurrentUser().role ==='merchant' " ui-sref-active="active">
          <a ui-sref="merchant.dashboard">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
        <li>
         <a ui-sref="cart.cart">
           {{nav.totalItems}}
           <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Cart
         </a>
        </li>
      </ul>
    </div>
  </div>
</div>
