<ka-header-medium heading="contact.heading" style="contact.style"></ka-header-medium>
<div class="container">
  <div class="row">
    <h2 class="page-header">
      Contact caribbeanflowershop.com
    </h2>
  </div>
  <div>
    <p>
      If you have questions, comments or feedback about our flowers we would love to hear from you. Whether you are a buyer, customers or flower store owner. You are welcome to speak with us at info-at-caribbeanflowershop.com or message us using <a href="http://m.me/caribbeanflowershopdotcom">facebook messenger</a> or from our facebook page at <a href="http://www.facebook.com/caribbeanflowershopdotcom">www.facebook.com/caribbeanflowershopdotcom</a>.
    </p>
    <p>
      Caribbeanflowershop.com is currently also accepting membership from international florists and fulfillment partners. If you would like to provide fullfillment for us in the Caribbean we are interested in hearing from you.
    </p>

  </div>


</div>
<footer country-links></footer>
