@font-face {
  font-family: 'myriadpro';
  src: url('../assets/fonts/myriadpro/myriadpro.eot');
  src: local('myriadpro'), url('../assets/fonts/myriadpro/myriadpro.woff') format('woff'), url('../assets/fonts/myriadpro/myriadpro.ttf') format('truetype');
}

body{
  font-family : "myriadpro", "Helvetic", "Arial", "serif" !important;
  font-size : 16px;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.pic-small{
  display: block;
  margin: 0 auto;
}

.carousel-control.left , .carousel-control.right{
  background-image: none;
}

.carousel-caption{
  color: #777;
  position: static;
  text-shadow: none;
}

.glyphicon-chevron-right, .glyphicon-chevron-left{
  color: #76dee5;
}

//remove the carousel indicators
.carousel-indicators{
  display: none;
}

.blue-text{
  color : #4393B9;
}

.sourcing-band {
  display: block;
  padding: 5px 5px;
  text-align: center;
  background-color: #efefef;
}

.blog-image{
  min-height : 75px;
}

.post-text{
  height:110px;
}

.center-button{
  margin:auto;
  max-width:50px;
  padding-bottom: 15px;
}


