<header-main scroll="main.scroll()" heading="main.heading" heading2="main.heading2"></header-main>

<h1 id="section2" class="text-center blue-text">Local sourcing </h1>
<h3 class="text-center">The best way to buy flowers</h3>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <p class="text-center">Click on the image below to view more options.</p>
      <!--carousel-->
      <div style="height: 500px">
        <div uib-carousel interval="main.interval" no-wrap="main.noWrapSlides">
          <div uib-slide ng-repeat="slide in main.flowers | orderBy:'-price' | limitTo:50 track by $index ">
            <a ui-sref="country({country: slide.country})"  style="text-decoration:none;">
              <img ng-src="{{slide.picMed}}" style="margin:auto;">
              <div class="carousel-caption">
                <h2 class="blue-text">{{slide.country}}</h2>
                <h4>{{slide.name}}</h4>
                <p>{{slide.description}}</p>
              </div>
            </a>

          </div>
        </div>
      </div>
      <!--end carousel-->
      <hr>
      <!--beginning blog cards-->
      <div class="col-md-12">
        <h2 class="blue-text text-center">Recent blog articles:</h2>
        <div class="col-md-6" ng-repeat="post in main.blog | limitTo: 2">
          <div class="thumbnail blog-image">
            <img ng-src="http://blog.caribbeanflowershop.com/{{post.mainImage}}">
          </div>


          <h3 class="blue-text text-center">
            {{post.title}}
          </h3>
          <div class="text-center post-text" style="color:#555" ng-bind-html = "post.body">

          </div>
          <div class="row center-button">
            <a class="btn btn-info btn-sm" href="http://blog.caribbeanflowershop.com" >View Blog</a>
          </div>


        </div>
      </div>
      <!--end blog-->

      <!--beginning bullet points-->
      <div class="col-md-12">
        <hr>
        <h2 class="blue-text text-center">Key site features:</h2>
        <div class="col-md-6">
          <h3 class="blue-text">Send flowers in four easy steps:</h3>

              <h4>
                <span class="glyphicon glyphicon-user" aria-hidden="true"> </span> Join
              </h4>
              <p>
                <a ui-sref="signup">Membership</a> gets users promo-codes and other benefits
              </p>
              <h4>
                <span class="glyphicon glyphicon-globe" aria-hidden="true"> </span> Locate
              </h4>
              <p>
                Choose where you would like to have flowers delivered
              </p>

              <h4>
                <span class="glyphicon glyphicon-search" aria-hidden="true"> </span> Browse
              </h4>
              <p>Browse the list of available flowers in the location</p>


              <h4>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> Buy
              </h4>
              <p>Buy the flowers that you want</p>

        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="../../assets/images/computer.jpg" alt="find the flowers that you would like to have delivered in the Caribbean">
          </div>

        </div>

      </div>

      <div class="col-md-12">
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="../../assets/images/fb_banner.jpg" alt="find the flowers that you would like to have delivered in the Caribbean">
          </div>

        </div>
        <div class="col-md-6">
          <h3 class="blue-text">Our social integration:</h3>

          <p>We connect with all of your users through facebook. It allows us to serve our customers in new and exciting ways and lowers the barrier for entry as a seller. <a ui-sref="signup">Sign up</a>  today.</p>

        </div>

      </div>
      <!--end bullet points-->
      <div class="col-md-12">
        <hr>
          <div class="text-center">
            If you would like to join our sellers network please <a href="/about">contact us</a>.
          </div>

        <hr>

      </div>

      <div class="col-md-12">
        <h2 class="blue-text text-center"></h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0Z2BO3-STuA">
          </iframe>
        </div>
      </div>



      <!--<div class="col-md-12">-->
        <!--<ul class="nav nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="flower in main.flowers |orderBy: 'price' | paginate: main.currentPage: main.itemsPerPage">-->

          <!--<li>-->
            <!--<a href="{{flower.shareASaleLink}}" uib-tooltip="{{flower.description}}">-->
              <!--<div class="text-center">{{flower.name}}</div>-->
              <!--<img class="pic-small" ng-src="{{flower.picSmall}}">-->
              <!--<div class="text-center">{{flower.price | currency}}</div>-->
              <!--<div class="text-center">{{flower.country}}</div>-->

            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<ul uib-pagination total-items="main.totalItems" ng-model="main.currentPage" max-size="main.maxSize" class="pagination-md" boundary-links="true" num-pages="main.numPages"></ul>-->


      <!--</div>-->

    </div>

  </div>
</div>
<footer></footer>
