<ka-header-medium heading="about.heading" style="about.style"></ka-header-medium>
<div class="container">
  <div class="row">
    <h2 class="page-header">
      About caribbeanflowershop.com
    </h2>
  </div>
  <div class="row">
    <h3>
      Our Story
    </h3>
    <p>

      We want to use the latest technology to get the freshest flowers where customers want them delivered, with the least hassle possible. Flowers convey sentiment and we would like to make the expression of sentiment simple.
    </p>
    <p>
      A lot of communications technology is applied in our processes but we don't want our customers or suppliers to worry about that. We just want you to be happy and let us do all of the tech stuff.
    </p>
    <h3>
      Contact Us
    </h3>
    <p>
      If you have questions, comments or feedback about our flowers we would love to hear from you. Whether you are a buyer, customers or flower store owner. You are welcome to speak with us at info-at-caribbeanflowershop.com or to message us using facebook messenger or from our <a href="http://www.facebook.com/caribbeanflowershopdotcom">facebook page</a>.
    </p>
    <p>
      Caribbeanflowershop.com is currently also accepting membership from international florists and fulfillment partners. If you would like to provide fulfillment for us in the caribbean we are interested in hearing from you.
    </p>
  </div>

    <h4><b>Email us:</b></h4>
    <hr>
    <form ng-submit="about.sendContact()" name="contactForm">

      <div class="form-group row">
        <div class="col-md-3">
          <div class="input-small">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" ng-model="about.contact.name" ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <div class="input-small">
            <label for="title">Title</label>
            <input id="title" type="text" class="form-control" ng-model="about.contact.title" ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <div class="input-small">
            <label for="email">Email address</label>
            <input id="email" type="email" class="form-control" ng-model="about.contact.email" ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <div class="input-small">
            <label for="text">Text</label>
            <textarea id="text" type="text" class="form-control" rows="5" ng-model="about.contact.text" ng-required="true"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <button type="submit" class="btn btn-success btn-lg pull-left">Submit</button>
      </div>

    </form>



</div>
<footer></footer>
