<header ng-style={{style}} class="hero-unit" id="banner">
  <div class="container" >
    <p class="spacer"></p>
    <div class="header-text animated fadeInUp">
      <b><h1>{{heading}}</h1></b>
    </div>
      <!-- <p class="lead">Have them delivered.</p> -->
      <p class="spacer"></p>
      <p><b><h2 class="header-text">{{subHeading}}</h2></b></p>
    <p class="spacer"></p>
  </div>
</header>

