<div class="btn-group ka-main-button" uib-dropdown>
  <button id="explore-button" type="button" class="btn btn-lg ka-main-button" uib-dropdown-toggle>
    Explore by Country<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem">
      <a ui-sref="country({country: 'Anguilla'})">Anguilla</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Aruba'})">Aruba</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Bahama Islands'})">Bahama Islands</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Barbados'})">Barbados</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Belize'})">Belize</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Bermuda'})">Bermuda</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Cayman Islands'})">Cayman Islands</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Dominica'})">Dominica</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Dominican Republic'})">Dominican Republic</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'French Guiana'})">French Guiana</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Grenada'})">Grenada</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Guadeloupe'})">Guadeloupe</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Guyana'})">Guyana</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Haiti'})">Haiti</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Honduras'})">Honduras</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Jamaica'})">Jamaica</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Saint Kitts and Nevis'})">Saint Kitts and Nevis</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Saint Lucia'})">Saint Lucia</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Saint Vincent and the Grenadines'})">Saint Vincent and the Grenadines</a>
    </li>
    <li role="menuitem">
      <a ui-sref="country({country: 'Trinidad and Tobago'})">Trinidad and Tobago</a>
    </li>
    <!--<li class="divider"></li>-->
    <!--<li role="menuitem"><a href="#">Separated link</a></li>-->
  </ul>
</div>

