<header-small heading="cart.heading" heading2="cart.heading2">

</header-small>
<nav class="text-center">
  <ul class="second-menu">
    <li ui-sref-active="second-menu-active">
      <a ui-sref="cart.cart">Cart</a>
    </li>
    <li ui-sref-active="second-menu-active">
      <a ui-sref="cart.checkout">Delivery</a>
    </li>
    <li ui-sref-active="second-menu-active">
      <a ui-sref="cart.payment">Payment</a>
    </li>

  </ul>

</nav>

<div ui-view></div>

<footer></footer>
