<div class="container">

  <div class="row col-lg-12">
    <h2 class="page-header" style="color :#565656;">Cart:</h2>
    <!--<a ui-sref="cart.checkout" class="pull-right">-->
      <!--Next-->
      <!--<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>-->
    <!--</a>-->
    <br>
    <br>
  </div>
  <div clas="row col-lg-12">
      <p>
        <br>
        <br>
      </p>
  </div>
  <div class="row col-lg-12">
    <div ng-show="cart.showEmpty">
      <p>
        Your cart is currently empty.
      </p>
    </div>

    <!-- Content -->

    <div class="row" ng-hide="cart.showEmpty">
        <div class="col-md-12 col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <div class="row">
                  <div class="col-md-6">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                  </div>
                  <div class="col-md-6">
                    <a ng-show="cart.country" ui-sref ="country({country: cart.country})">
                      <button class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-share-alt"></span> Continue Shoping</button>
                    </a>
                    <a ng-show="!cart.country" ui-sref="main">
                      <button class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-share-alt"></span> Continue Shoping</button>
                    </a>

                  </div>
                </div>
              </div>
            </div>
            <div class="panel-body" >
              <div class="row">
                <p>
                  &nbsp&nbsp&nbsp&nbsp
                  <strong>
                    Our suppliers are standing by ready to fulfill your order for the following items
                  </strong>
                </p>
              </div>
              <hr>
            <div ng-repeat="cartItem in cart.cartItems">
              <div class="row">
                <div>
                  <div class="col-md-2 col-xs-12">
                    <img class="img-responsive" ng-src="{{cartItem.item.picSmall}}">
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <h4><strong>{{cartItem.item.name}}</strong></h4>
                    <h4><small>{{cartItem.item.description}}</small></h4>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="col-md-6 text-right">
                      <h4><strong>{{cartItem.price|currency}}</strong></h4>
                    </div>
                    <div class="col-md-4 col-xs-9">
                      <div class="pull-left">
                        <h4>x {{cartItem.qty}}</h4>
                      </div>
                      <div class="pull-right">
                        <button class="btn btn-default btn-sm"
                                ng-click = "cart.incrementQty(cartItem)">
                          <span class="glyphicon glyphicon-arrow-up">
                          </span>
                        </button>
                        <button class="btn btn-default btn-sm"
                                ng-click = "cart.decrementQty(cartItem)">
                        <span class="glyphicon glyphicon-arrow-down">
                        </span>
                        </button>
                      </div>
                    </div>
                    <div class="col-md-2 col-xs-2">
                      <button class="btn btn-danger btn-sm"
                              ng-click="cart.removeItem(cartItem)">
                        <span class="glyphicon glyphicon-trash">
                        </span>
                      </button>
                    </div>
                  </div>

                </div>

              </div>
            <hr>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-9 col-xs-12 text-right">
                  <h4><strong>Total {{cart.cartTotal | currency}}</strong></h4>
                </div>
                <div class="col-md-3 col-xs-12">
                  <button ui-sref="cart.checkout" class="btn btn-info btn-lg btn-block">Checkout</button>
                </div>
              </div>

            </div>
              <hr>
              <div>
                <p>
                  You have shown interest in the following arrangements which can be fulfilled by partner websites.
                </p>
                <ul class="nav nav-stacked col-md-4 col-lg-4 col-sm-6 countries" ng-repeat="offSiteItem in cart.offSiteItems">
                  <li>
                    <a ng-href="offsiteItem.item.shareASaleLink" uib-tooltip="{{offSiteItem.item.description}}">
                      <div class="text-center" style="color :#565656;"><h4>{{offSiteItem.item.name}}</h4></div>
                      <img class="pic-small" ng-src="{{offSiteItem.item.picSmall}}">
                      <div class="text-center">{{offSiteItem.item.price | currency}}</div>
                    </a>
                    <div class="row center-buttons text-center">
                      <a class="btn btn-default btn-sm" ng-href="{{offSiteItem.item.shareASaleLink}}">Visit Site</a>
                    </div>

                  </li>
                </ul>
              </div>
          </div>
            </div>
      </div>
    </div>
    </div>
    <!-- End Content -->
  <div class="row col-lg-12">
    <br>
    <a ui-sref="cart.checkout" class="pull-right">
      Next
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </a>
    <br>
    <hr>
  </div>



</div>
