<div class="container">

  <div class="row col-lg-12">
    <h2 class="page-header" style="color :#565656;">Payment:</h2>
    <a ui-sref="cart.checkout" class="pull-left">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">Previous</span>
    </a>


  </div>
  <!-- Content -->
  <form ng-submit="cart.createOrder()" name="myForm">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-md-6">
                <span class="glyphicon glyphicon-credit-card"></span>
              </div>
              <div class="col-md-6">
                <a ui-sref ="country({country: cart.country})">
                  <button class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-share-alt"></span> Continue Shoping</button>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="panel-body" >
          <h4><b>Card Info:</b></h4>
          <hr>
          <div>

             <div class="row">
               <div class="col-md-3">
                 <div class="input-small">
                   <label for="card">Card number</label>
                   <input id="card" type="text" class="form-control" ng-model="cart.card.number" cc-number cc-type="cardType" ng-required="true" />
                 </div>
               </div>
             </div>

             <div class="row">
               <div class="col-md-3">
                   <label for="expiry">Expiry</label>
                   <div cc-exp>
                     <input id="expiry" size="2" ng-model="cart.card.exp_month" placeholder="MM" ng-required="true" cc-exp-month/>
                     <input id="expiryYear" ng-model="cart.card.exp_year" size="2" placeholder="YY" cc-exp-year ng-required="true"/>
                   </div>
               </div>
             </div>


              <!--<div class="span3">-->
                <!--<label for="name">Name on card </label>-->
                <!--<input id="name" type="text" class="input-block-level">-->
              <!--</div>-->
              <div class = "row">
                <div class="col-md-1">
                  <label for="cvc">CVC</label>
                  <input class="form-control" id="cvc" type="text" ng-model="cart.card.cvc" cc-cvc ng-required="true" />

                </div>

              </div>


              <p>
                <a href="www.stripe.com">
                  <image src="../assets/images/cardlogos.png" width="200" >                        </image>
                </a>
              </p>


          </div>

        </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-9 col-xs-12 text-right">
                <h4><strong>Total {{cart.cartTotal | currency}}</strong></h4>
              </div>
              <div class="col-md-3 col-xs-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
  </form>
<!-- End Content -->
  <div class="row col-lg-12">
    <br>
    <a ui-sref="cart.checkout" class="pull-left">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">Previous</span>
    </a>
    <br>
    <hr>
  </div>

</div>
