<div class="container">

  <div class="row col-lg-12">
    <h2 class="page-header" style="color :#565656;">Delivery Details:</h2>
    <a ui-sref="cart.cart" class="pull-left">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">Previous</span>
    </a>
    <!--Next button-->
    <!--<a ui-sref="cart.payment" class="pull-right">-->
      <!--Next-->
      <!--<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>-->
    <!--</a>-->
    <br>
    <br>
  </div>
  <!-- Content -->
  <form  ng-submit="" name="form" novalidate>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-md-6">
                <span class="glyphicon glyphicon-shopping-cart"></span>
              </div>
              <div class="col-md-6">
                <a ui-sref ="country({country: cart.country})">
                  <button class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-share-alt"></span> Continue Shoping</button>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="panel-body" >
                <fieldset>

                  <h4><b>Delivery Info:</b></h4>
                  <hr>
                    <!-- Start Date -->

                      <div class = "row">

                        <div class="col-md-3">
                          <label class="control-label" for="deliveryDate">Delivery Date:</label>
                          <div class ="input-group">
                            <input type="text"
                                   placeholder="YYYY-MM-DD"
                                   class="form-control"
                                   id="deliveryDate"
                                   uib-datepicker-popup
                                   is-open="cart.popup.opened"
                                   datepicker-options="cart.dateOptions"
                                   min-date = "cart.tomorrow"
                                   close-text="Close"
                                   ng-model="cart.datePicker.dt"
                                   ng-blur="cart.dateToOrder()"
                                   ng-click="cart.open()"
                                   ng-required="true" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="cart.open()">
                                <i class="glyphicon glyphicon-calendar">
                                </i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>


                    <!-- End Date -->
                    <div class="input-small">
                      <div class="row">
                        <div class="col-lg-3">
                          <label for="cardMsg">Flower Card Message:</label>
                          <textarea id="cardMsg" class="form-control" rows="4" id="cart.order.delivery.message" ng-model="cart.order.delivery.message"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="input-small">
                      <div class="row">
                        <div class="col-lg-3">
                          <label for="instructions">Special Delivery Instructions:</label>
                          <textarea class="form-control" rows="4" id="instructions" ng-model= "cart.order.delivery.instructions"></textarea>
                        </div>
                      </div>
                    </div>
                  <hr>

                  <h4><b>Recipient Info:</b></h4>
                  <hr>
                  <div class = "row">
                    <div class="col-sm-3">
                      <div class="input-small">
                        <label for="recName">Name:</label>
                        <input class="form-control" id="recName" ng-model = "cart.order.recipient.name" required>
                      </div>
                    </div>
                  </div>

                  <div class = "row">
                    <div class="col-sm-3">
                      <div class="input-small">
                        <label for="recEmail">Email:</label>
                        <input type='email' class="form-control" id="recEmail" ng-model = "cart.order.recipient.email" required>
                      </div>
                    </div>
                  </div>


                  <div class = "row">
                    <div class="col-md-3">
                      <div class="input-small">
                        <label for="recAddress">Address:</label>
                        <input type='text' class="form-control" id="recAddress" ng-model="cart.order.recipient.address" required>
                      </div>
                    </div>
                  </div>

                  <div class = "row">
                    <div class="col-md-3">
                      <div class="input-small">
                        <label for="address2">Address 2:</label>
                        <input class="form-control" id="address2" ng-model="cart.order.recipient.address2">
                      </div>
                    </div>
                  </div>

                  <div class = "row">
                    <div class="col-md-3">
                      <div class="input-small">
                        <label for="recCity">City:</label>
                        <input class="form-control" id="recCity" ng-model="cart.order.recipient.city" required>
                      </div>
                    </div>
                  </div>

                  <div class = "row">
                    <div class="col-md-3">
                      <div class="input-small">
                        <label for="recState">Parish, State, Region or Province:</label>
                        <input class="form-control" id="recState" ng-model="cart.order.recipient.state" required>
                      </div>
                    </div>
                  </div>


                  <div class ="input-small">
                    <label class="control-label" for="recCountry">Country:</label>
                    <div class="row">
                      <div class="col-lg-3">
                        <select class="form-control" name="cart.order.recipient.country" id="recCountry" ng-model="recCountry" required>
                          <option value="" disabled selected>
                            Choose Country
                          </option>
                          <option ng-repeat="country in cart.countries" value="{{country}}">
                            {{country}}
                          </option>
                        </select>
                      </div>
                    </div>

                  </div>

                  <div class = "row">
                    <div class="col-md-3 col-lg-3">
                      <div class="input-group">
                        <label for="recZipCode">Zip Code / Postal Code:</label>
                        <input class="form-control" id="recZipCode" ng-model="cart.order.recipient.zipCode" ng-minlength="4" required>
                      </div>
                    </div>
                  </div>
                  <div class="help-block" ng-show="form.recZipCode.$error.minlength || form.recZipCode.$invalid">
                    Valid zip code needed to check delivery date.
                  </div>

                  <div class = "row">
                    <div class="col-md-3">
                      <div class="input-small">
                        <label for="recPhone">Phone</label>
                        <input class="form-control" id="recPhone" ng-model="cart.order.recipient.phone" ng-minlength="10" required>
                      </div>
                    </div>
                  </div>

                </fieldset>

        </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-9 col-xs-12 text-right">
                <h4><strong>Total {{cart.cartTotal | currency}}</strong></h4>
              </div>
              <div class="col-md-3 col-xs-12">
                <button ui-sref="cart.payment" class="btn btn-info btn-lg btn-block" ng-disabled="form.$invalid">Payment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

<!-- End Content -->
  <div class="row col-lg-12">
    <br>
    <a ui-sref="cart.cart" class="pull-left">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">Previous</span>
    </a>
    <a ui-sref="cart.payment" class="pull-right">
      Next
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </a>
    <br>
    <hr>
  </div>

</div>
