.spacer {
  height: 100px;
}

#layer {
  background-color: rgba(0, 0, 128, 0.5);
  width: 100%;
  height: 100%;

}

.hero-unit{
  padding : 0;
  margin: 0 0 0 0;
}

.header-text{
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.8);
}

#front-header{
  background-image: url('../../assets/images/girl_sniff_short.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#lead{
  font-size: 58px;
  font-weight: bold;
}

#explore-button{
  background-color: #d0dfe7;
  color: #444;
  text-shadow: none;
}
