<header class="hero-unit" id="front-header">
  <div class="container" >
    <p class="spacer">

    </p>
    <div class="header-text animated fadeInUp">
      <div id="lead">{{heading}}</div>
    </div>
    <h2 class="header-text">{{heading2}}</h2>


    <explore-button></explore-button>


    <p class="spacer"></p>
  </div>
</header>
