.ka-lead-main{
  font-size: 80px;
  font-weight: bold;
}

.ka-col-centered{
  float: none;
  margin: 0 auto;
}

.ka-row-centered{
  display: table-cell;
  vertical-align:middle;
}

.ka-full-height{
  height: 100vh;
}

.ka-lead-main-sub{
  color : #f8f8f8;
}

#ka-main-header{
  background-image: url('../../assets/images/girl_sniff.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


//arrow which points down
.arrow {
  bottom: 48px;
  margin-bottom: 40px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }
@media (max-width: 991px) {
  .arrow {
    bottom: 31px; } }
@media (max-width: 320px) {
  .arrow {
    bottom: 21px; } }
@media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .arrow {
    bottom: 31px; } }
.arrow a {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 46px;
  outline-style: none !important;
  position: relative;
  text-decoration: none;
  transition: all .3s ease-in-out;
  width: 46px; }
.arrow a:hover {
  background: #2d2d2d; }
.arrow-icon {
  display: block; }
.arrow-icon::before {
  content: "\203a";
  display: inline-block;
  font-family: serif;
  font-size: 32px;
  line-height: 1;
  font-style: normal;
  left: 4px;
  position: relative;
  top: 6px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
.arrow-floating .arrow-icon {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s; }
