<header class="hero-unit" id="ka-main-header">
  <div class="container ka-full-height" >
      <p class="spacer"></p>
      <p class="spacer"></p>

      <div class="header-text animated fadeInUp">
        <div class="ka-lead-main">{{heading}}</div>
      </div>

      <div class="row">
        <div class="col-md-8 ka-col-centered">
          <div class="text-center">
            <h2 class="header-text ka-lead-main-sub"><strong>{{heading2}}</strong></h2>
          </div>
        </div>

      </div>



  <explore-button></explore-button>

    <!--ui button-->


    <p class="spacer"></p>

    <!--down arrow-->
    <div  class="animated infinite pulse arrow arrow-floating" aria-hidden="true"><a id="pointer" ng-click="scroll()" href="#"><i class="arrow-icon"></i></a></div>
    <!--end down arrow-->
  </div>

</header>

